<div class="chatVista">
    <h2>Chat de mensajes</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <form action="" method="" id="chatForm">
                <div>
                    <label for="foto"> Email </label>
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                </div>
                <p class="form-label">Chat en vivo:</p>
                <div class="cahtViv" id="chat">
                    <!-- chat -->
                </div>
                <div>
                    <div>
                        <div>
                            <input type="text" class="form-control" id="message" placeholder="Escribe tu mensaje"
                                name="message" required>
                            <label for="mesagge" class="form-label" id="message">Mensaje</label>
                        </div>
                    </div>
                    <div>
                        <div>
                            <input class="btn btn-success" type="submit" value="Enviar">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>